body, * {
    margin: 0;
    padding: 0;
    display: flex;
}

p {
    line-height: 1;
}

.container, #display {
    padding: 16px;
    border-radius: 16px;
    box-shadow: 5px 5px 10px 0px #1010104d;
}

#calculator {
    justify-content: center;
    align-items: center;
    margin: 50px;
    width: 350px;
    background-color: #bfbff2;
    border-radius: 16px;
    padding: 16px;
}

#calculator .container {
    display: flex;
    flex-direction: column;
    background-color: #d9d9f7;
    flex-grow: 1;
    max-width: 100%;
    box-sizing: border-box;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 72px;
    background-color: #f2f2fc;
    margin-bottom: 16px;
    overflow: hidden;
}

#display #subText {
    display: none;
}

#display #mainText {
    font-size: 52px;
    align-self: end;
    overflow: hidden;
}

#display.compact #subText {
    display: block;
    font-size: 28px;
    height: 33%;
}

#display.compact #mainText {
    font-size: 44px;
    height: 66%;
}

.numPad {
    flex-grow: 1;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    aspect-ratio: 1 / 1;
}

#calculator .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2fc;
    border-radius: 16px;
    border: 0;
    box-shadow: 5px 5px 10px 0px #1010104d;
    font-size: 32px;
}

#calculator .btn:active {
    background-color: #ccccf5;
}

.wide {
    grid-column: span 2;
}